@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(libs/bootstrap/fonts/glyphicons-halflings-regular.woff);
}

.shower{
	background: black !important;
}

i{
	font-style: normal !important;
}

pre{
	font-size: 0.5em;
}

li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
    content: "\e080";
}